.wrapper {
  display: flex;
  align-items: center;
  padding: 0.7rem 0.6rem;
  justify-content: space-between;
  column-gap: 20px;
  background-color: blue;
  border-radius: 0.5rem;
  cursor: pointer;
}

.username_wrapper {
  flex-grow: 1;
}
